<div class="titulo">Contáctanos</div>
<% @contact ||= C4::Contact.new %>
 <%= form_for @contact, :url => c4.send_contact_mail_path, :method => :post, remote: true, :html => {class:'animated fadeIn'} do |f| %>
  <%= f.c4_text_field :name, '', 'Nombre', class: 'campo' %>
  <%= f.c4_text_field :email, '', "Correo electrónico", class: 'campo' %>
  <%= f.c4_text_area :message, '', 'Mensaje', class: 'campo area'  %>

  <%= f.hidden_field :nickname %>
  <%= f.button :Enviar, class: 'boton' %>
<% end %>