<!-- Imagina -->
<section id="imagina" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">1</div>
      <div class="image"></div>
    </div>
    <div class="grid">
      <div data-sr="reset" class="description">
        Desde un juguete <br>
        hasta tu siguiente <br> 
        obra de arte. 
      </div>
      <div data-sr="reset" class="title">Imagina y Diseña</div>
      <div data-sr="reset" class="subtitle">Las posibilidades son <br>infinitas.</div>
      <div data-sr="reset" class="extra">
        ¿No eres diseñador? <br> No te preocupes, <!-- <br> 
        podemos ayudarte a <span class="color_word">encontrarlo</span> o  -->puedes <br> 
        ver nuestro <%= link_to 'catálogo', url_for("http://tienda.qb3d.com.mx"), class:'color_word'  %>
.
      </div>
    </div>
  </div>
</section>
<!-- Envianos -->
<section id="envianos" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">2</div>
      <div  class="image"></div>
    </div>
    <div class="grid">
      <div data-sr="reset" class="description">
        Escoge las mejores <br>
        opciones de <span class="color_word">impresión</span><br> 
        para tu proyecto.
      </div>
      <div data-sr="reset" class="title">Envíanos tu <br>diseño.</div>
      <div data-sr="reset" class="subtitle">Déjanos hacerlo realidad.</div>
    </div>
  </div>
  <div class="materials">
    <% @materials.each do |m| %>
      <% if m.available %>
      <div class="row">
        <%= m.name %> <span><%= m.price %></span>
        <div class="colors">
          <% m.colors.each do |c| %>
            <div style="background-color:#<%= c.hex %>"></div>
          <% end %>
        </div>   
      </div>
      <% end %>
    <% end %>
  </div>

</section>
<!-- Recibe -->
<section id="recibe" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">3</div>
      <div class="image"></div>
    </div>
        <div class="grid">
      <div data-sr="reset" class="description">
        Recíbelo en tu casa o <br>
        <span class="color_word">universidad.</span> <br>
        <%= link_to 'Enviar diseño', fabnami_path %>

      </div>
      <div data-sr="reset" class="title">Recibe tu <br> impresión.</div>
      <div data-sr="reset" class="subtitle">Vamos a donde estés.</div>
      <div data-sr="reset" class="extra">
        <div class="boxcolor">
            <span>Universidades</span>
            Tec de Monterrey CEM<br>
            Universidad Iberoamericana<br>
            UAM Azcapotzalco<br>
            Tec de Monterrey CSF<br>
            FES Acatlán 
        </div>
      </div>
    </div>
  </div>
</section>
