<div class="c4-contact-data">
  <% @prefs = C4::Preference.first %>

  <% if @prefs.facebook.present? %>
    <div class="data-title">Facebook:<a href="<%= @prefs.facebook %>"><%= @prefs.facebook %></a>
</div>
  <% end %>

  <% if @prefs.twitter.present? %>
    <div class="data-title">Twitter:<a href="<%= @prefs.twitter %>"><%= @prefs.twitter %></a></div>

  <% end %>

  <% if @prefs.email.present? %>
    <div class="data-title">Correo electrónico: <a href="mailto:<%= @prefs.email %>?Subject=QB3D" target="_top" class="email"><%= @prefs.email %></a></div>  <% end %>

  <% if @prefs.telephone.present? || @prefs.telephone2.present? %>
    <div class="data-title">Teléfono:
      <% if @prefs.telephone.present? %>
      <a href="tel:<%= @prefs.telephone %>" class="telefono"><%= @prefs.telephone %></a>
     <% end %>
    <% if @prefs.telephone2.present? %>
      <a href="tel:<%= @prefs.telephone2 %>" class="telefono"><%= @prefs.telephone2 %></a>
     <% end %>
    </div>
  <% end %>

  <% @prefs.values.each_with_index do |val,i| %>
   <div class="data-title">
     <%= val["key"] %>: <span><%= val["value"] %></span>
   </div>
  <% end %>

</div>